.click-arrow {
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    width: 60px;
    height: 60px;
}
.click-arrow {
    background: none;
    background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
    border-radius: 50%;
    border: 5px solid rgba(14, 14, 14, 0.32); 
}
.rotate {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); 
}
.click-arrow {
    position: absolute;
    bottom: -10%;
}
.click-arrow img:hover {
    filter: invert(51%) sepia(28%) saturate(620%) hue-rotate(211deg) brightness(89%) contrast(80%);
}
@media screen and (min-width: 900px) {
    .click-arrow {
        display: flex;
    }
}