.center {
    display: flex;
    justify-content: center;
}
.form-div {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 80px;
    background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width: 90%;
    font-size: 14px;
}
.form-div h4 {
    font-size: 1.7em;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 29px;
}
.form-div h5 {
    font-size: 1.7em;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 29px;
    text-align: center;
}
.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-div form {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    width: 90%;
}
.form-div form input {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    line-height: 17px;
    font-size: 1em;
    color: #FFFFFF;
    background: none;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
}
::placeholder {
    font-weight: 400;
    color: #FFFFFF;
}
.form-div textarea {
    font-size: 1em;
    padding-top: 18px;
    padding-left: 30px;
    height: 220px;
    background: none;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
}
.form-div .btn-2 {
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1em;
    font-weight: 700;
    border-radius: 40px;
    margin-top: 30px;
}
.form-div .not-mobile {
    display: none;
}
@media screen and (min-width: 900px) {
    .form-div {
        background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
    }
    .form-div .mobile {
        display: none;
    }
    .form-div h4{
        font-size: 2.5em;
    }
    .form-div h5{
        font-size: 2.5em;
    }
    .form-div form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .subj {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    form textarea {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    form .btn-2 {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
        width: 30%;
    }
    .form-div .not-mobile {
        display: inline-block;
    }
}